:root 
{
    --stationEntryFontSize: 1.7rem;
    --dynamicColNum: 3;
}

body
{
    /* background-color: aliceblue; */
}

.placeCenter
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.assesmentContainer
{
    padding-top: 5%;
    padding-bottom: 5%;
}

.listContainer
{
    padding: 2% 4%;
    background-color: #333131;
    border-radius: 10px;
}

.underline
{
    border-bottom: 12px solid #fff;
}
.title
{
    text-align: center;
    font-size: calc(2 * var(--stationEntryFontSize));

}

/* ol
{
    background-color: #2F5D62;
} */
.stationEntry
{
    font-size: var(--stationEntryFontSize);
    line-height: 2;
    text-align: center;
}


.flexableGridDisplay
{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(var(--dynamicColNum),1fr);
    grid-template-rows: repeat(5,1fr);
}

.doubleGridDisplay
{
    padding-left: 2%;
    padding-right: 2%;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2,1fr);
}
.EditorContainer > button
{
    width: 100%;
    background-color: #80a3a2;
    border: 1px solid black;
    border-radius: 3px;
}

.clipboardImg
{
    display: inline-block;
}
.copyContainerContent
{
    display: inline-block;
    padding-right: 2%;
    font-size: var(--stationEntryFontSize);
}
